<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sustech.service_education.mapper.AssignmentMapper">

    <insert id="addAssignment">
        insert into assignment_list (title, course_id, teacher_id, due_date, resubmission_allowed,
                                     accept_resubmission_until, requirements, attachment)
        values (#{title}, #{course_id}, #{teacher_id}, #{due_date}, #{resubmission_allowed},
                #{accept_resubmission_until}, #{requirements}, #{attachment})
    </insert>

    <insert id="addStudentSubmission">
        insert into student_assignment
        values (#{assignment_id}, #{student_id}, #{content_url}, #{text}, #{submission_date})
    </insert>

    <select id="selectSubmissionById" resultType="com.sustech.service_education.entity.Submission">
        select *
        from student_assignment
        where assignment_id = #{assignment_id}
          and student_id = #{student_id}
    </select>

    <update id="updateStudentSubmission">
        update student_assignment
        set content_url = #{content_url},
            text        = #{text},
            submission_date = #{submission_date}
        where assignment_id = #{assignment_id} } and student_id = #{student_id}
    </update>

    <select id="selectSubmissionByAssId" resultType="com.sustech.service_education.entity.Submission">
        select *
        from student_assignment
        where assignment_id = #{assignment_id};
    </select>

    <update id="updateAssignment">
        update assignment_list
        set title=#{title},
            course_id=#{course_id},
            teacher_id=#{teacher_id},
            due_date=#{due_date},
            resubmission_allowed=#{resubmission_allowed},
            accept_resubmission_until=#{accept_resubmission_until},
            requirements=#{requirements},
            attachment=#{attachment}
        where id = #{assignment_id};
    </update>
</mapper>
