<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sustech.service_education.mapper.StudentMapper">
    <select id="queryAllStudents" resultType="com.sustech.service_education.entity.Student">
        select *
        from student;
    </select>

    <select id="selectStudentById" resultType="com.sustech.service_education.entity.Student">
        select *
        from student
        where id = #{id};
    </select>

    <insert id="insert">
        insert into student (id, password, status, online)
        values (#{id}, #{password}, 'normal', 'False');
    </insert>

    <update id="unblockStudent">
        update student
            set status = 'normal'
        where id=#{id};
    </update>

    <update id="blockStudent">
        update student
        set status = 'blocked'
        where id=#{id};
    </update>

    <update id="update">
        update student
        set name = #{name},
            department = #{department},
            college = #{college},
            grade = #{grade},
            picture_url = #{picture_url},
            birthday = #{birthday},
            gender = #{gender},
            region = #{region},
            address = #{address} where id = #{id};
    </update>

    <update id="updateOnline">
        update student
        set online = 'True'
            where id = #{id};
    </update>
    <update id="updateOffline">
        update student
        set online = 'False'
            where id = #{id};
    </update>
</mapper>
