<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sustech.service_education.mapper.TeacherMapper">

<!--    <resultMap id="TeacherMapper" type="com.sustech.service_education.entity.Teacher">-->
<!--        <result column="" property=""/>-->
<!--    </resultMap>-->

    <select id="queryAllTeachers" resultType="com.sustech.service_education.entity.Teacher">
        select * from teacher
    </select>


    <select id="selectTeacherByEmail" resultType="com.sustech.service_education.entity.Teacher">
        select * from teacher where id = #{Email};
    </select>

    <insert id="insert">
        insert into teacher (id,password,status) values (#{id},#{password},'normal');
    </insert>

</mapper>
