<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sustech.service_education.mapper.VideoMapper">

    <select id="getURLByKey" resultType="java.lang.String">
        select url from video where course_id = #{course_id} and session = #{session};
    </select>
    
    <insert id="insertVideo">
        insert into video (course_id, session, url, title, description) values (#{course_id}, #{session}, #{url}, #{title}, #{description});
    </insert>

    <select id="getSessionsCount" resultType="java.lang.Integer">
        select count(*) as cnt from video where course_id = #{course_id};
    </select>

    <select id="getSessionInfo" resultType="com.sustech.service_education.entity.Video">
        select * from video where course_id = #{course_id} and session = #{session};
    </select>

</mapper>
