<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sustech.service_education.mapper.VideoMapper">

    <select id="getURLByKey" resultType="java.lang.String">
        select url
        from video
        where course_id = #{course_id}
          and session = #{session};
    </select>

    <insert id="insertVideo">
        insert into video (course_id, session, url, title, description, score)
        values (#{course_id}, #{session}, #{url}, #{title}, #{description}, #{score});
    </insert>

    <select id="getSessionsCount" resultType="java.lang.Integer">
        select count(*) as cnt
        from video
        where course_id = #{course_id};
    </select>

    <select id="getSessionInfo" resultType="com.sustech.service_education.entity.Video">
        select *
        from video
        where course_id = #{course_id}
          and session = #{session};
    </select>

    <update id="setVideoScore">
        update video
        set score = #{score}
        where course_id = #{course_id}
          and session = #{session};
    </update>

    <select id="getVideoScore" resultType="java.lang.Float">
        select video_score
        from stu_session_score
        where sess_id = #{id}
          and stu_id = #{user};
    </select>

    <select id="getTestScore" resultType="java.lang.Float">
        select test_score
        from stu_session_score
        where sess_id = #{id}
          and stu_id = #{user};
    </select>

    <update id="updateVideoScore">
        update stu_session_score
        set video_score = #{score}
        where stu_id = #{user}
          and sess_id = #{sess_id};
    </update>

    <update id="updateTestScore">
        update stu_session_score
        set test_score = #{score}
        where stu_id = #{user}
          and sess_id = #{sess_id};
    </update>

    <insert id="insertStuSessScore">
        insert into stu_session_score (stu_id, sess_id, video_score, test_score)
        values (#{user}, #{sess_id}, 0, 0);
    </insert>

    <select id="getScoresBySession" resultType="com.sustech.service_education.entity.Score">
        select *
        from stu_session_score
        where sess_id = #{sess_id};
    </select>

    <insert id="insertTest">
        insert into session_test (session_id, question_type, title, choices, correct_answer)
        values (#{session_id}, #{questionType}, #{title}, #{choices}, #{correct_answer});
    </insert>

    <select id="getAllTestBySession" resultType="com.sustech.service_education.entity.Test">
        select * from session_test where session_id = #{sess_id};
    </select>

</mapper>
